<div class="jumbotron">
    <h1 class="text-center">Atracciones turísticas de Barcelona</h1>
    <hr class="my-4">
    <div class="row d-flex justify-content-around">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/img/familia.jpg" class="card-img-top" alt="..." style="height: 270px;">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/img/guell.jpg" class="card-img-top" alt="..." style="height: 270px;">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/img/playa.jpg" class="card-img-top" alt="..." style="height: 270px;">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
    </div>
</div>